body{
	background: black url('antharas_lair_1920.jpg') no-repeat fixed center center;
	background-size: cover;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: Gulim, Dotum, Helvetica, "Microsoft Sans Serif", Tahoma, Arial, sans-serif;
	font-weight: lighter;
}
table[border] {
	border-collapse: collapse;
}

table[border], table[border] th, table[border] tr, table[border] td {
	border: 1px solid white;
}

table[border] th, table[border] td {
	padding: 0.1em 0.2em;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.menu>li {
	padding: 0.3em 0;
}
ul.menu>li>a {
/*	display: block;*/
}
.gm {
	color: cyan;
}
.shout {
	color: orange;
}
.party {
	color: lime;
}
.system {
	color: grey;
}
.general {
	color: white;
}
.clan {
	color: royalblue;
}
a/*, a:visited*/ {
	color: orange;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: red;
}
.collapse {
	display: none;
	padding-left: 1.25em;
	line-height: 1.25em;
}
.collapse:target {
	display: block;
}
div.collapse {
	margin: 1em 0;
	max-height: 240px;
	overflow: auto;
	/*border: 1px solid #202020;*/
}
div.collapse > ol{
	padding-left: inherit;
}

@media screen and (max-width: 600px) {
	.wide-screen {
		display: none;
	}
}

@media all and (max-width: 1920px) and (max-height: 1920px) {
	body {background-image: url('antharas_lair_1920.jpg');}
}
@media all and (max-width: 1440px) and (max-height: 1440px) {
	body {background-image: url('antharas_lair_1440.jpg');}
}
@media all and (max-width: 1280px) and (max-height: 1280px) {
	body {background-image: url('antharas_lair_1280.jpg');}
}
@media all and (max-width: 1024px) and (max-height: 1024px) {
	body {background-image: url('antharas_lair_1024.jpg');}
}
@media all and (max-width: 800px) and (max-height: 800px) {
	body {background-image: url('antharas_lair_800.jpg');}
}
@media all and (max-width: 640px) and (max-height: 640px) {
	body {background-image: url('antharas_lair_640.jpg');}
}
